# systemd target file, save to
#  /home/ting/.config/systemd/user/mixchdl.target
#

[Unit]
Description=mixch downloader
Documentation=https://github.com/ting1322/mixch-dl

Requires=mixchdl-lala-spoon.service
Requires=mixchdl-tofu-spoon.service
Requires=mixchdl-tofu-tc.service
Requires=mixchdl-umi-mixch.service
Requires=mixchdl-umi-tc.service

After=default.target

[Install]
WantedBy=default.target