# systemd service file, save to
#  /home/ting/.config/systemd/user/mixch-dl-umi-mixch.service
#

[Unit]
Description=mixch-dl for Umi (mixch)
Documentation=https://github.com/ting1322/mixch-dl
PartOf=mixchdl.target

[Service]
ExecSearchPath=%h/go/bin:%h/.local/bin:%h/sdk/flutter/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin
WorkingDirectory=%h/umi
ExecStart=mixch-dl -loop https://mixch.tv/u/17209506/live
StandardOutput=append:%h/umi/mixch.log
StandardError=inherit
Restart=always
RestartSec=30