[Unit]
Description=mixch-dl for tofu (spoon)
Documentation=https://github.com/ting1322/mixch-dl
PartOf=mixchdl.target

[Service]
ExecSearchPath=%h/go/bin:%h/.local/bin:%h/sdk/flutter/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin
WorkingDirectory=%h/tmp
ExecStart=mixch-dl -verbose -loop https://www.spooncast.net/jp/live/@uta_yakousei
StandardOutput=append:%h/tmp/tofu-spoon.log
StandardError=inherit
Restart=always
RestartSec=30

[Install]
WantedBy=default.target